@import '../../sass-variables';
@import '../../sass-fonts';

.blind-container {
  display: flex;
  width: auto;
  background-color: $color-white;
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(100, 100, 100, 0.5);
  margin: 0px 0px 8px 0px;
  // cursor:'pointer';
}

.blind-texts-container {
  order: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 8px 8px 10px;
}

.blind-img-container {
  order: 1;
  height: 100%;
  padding: 5px 8px 0px 8px;
  display: flex;
  align-content: center;
  justify-content: center;

  button {
    height: 50px;
    width: 50px;
    padding: 0;
    border-width: 0px;
  }
  svg {
    height: 100%;
    width: 100%;
  }

  .edit-btns-container {
    height: 50px;
    padding: 0;
    display: flex;
    align-items: center;

    .blind-button-container {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      padding: 2px;
      //background-color: blue; //rgba(0,0,0,0);
      box-shadow: 0px 1px 2px rgba(100, 100, 100, 0.5);
      display: flex;
      align-content: center;
      justify-content: center;
    }

    .blind-button-container:focus-within {
      background-color: lightslategray;
    }

    .blind-button-container:hover {
      background-color: lightgrey;
    }

    .blind-edit-btn-container {
      margin-right: 8px;
    }

    input:focus {
      outline: none;
    }

  }
}

.blind-text-container {
  width: 100%;
}

.blind-description {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: $font-color-dark;
}

.blind-room {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: $font-color-orange;
}

.inner-circle {
  stroke-width: "0.5";
  stroke: black;
  transition-duration: 0.5s;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
}

.outer-circle {
  fill: white;
  stroke-width: "0.5";
  stroke: black;
  transition-duration: 0.2s;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
}

.open {
  fill: white;
}

.closed {
  fill: black;
}

.is-active {
  animation-name: test;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: backwards;
  animation-delay: 0s;
}

button {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

button:hover {
  outline: none;
  background-color: rgba(0,0,0,0);
  .outer-circle {
    fill: $font-color-orange;
  }
}

button:focus, button:active  {
  outline: none;
  background-color: rgba(0,0,0,0);
  .outer-circle {
    fill: $font-color-orange-trans;
  }
}

a {
  text-decoration: none !important;
}

@keyframes test {
  from {fill: white;}
  to {fill: black;}
}

@media only screen and (min-width : $tablet-min-width-breakpoint){
}

@media only screen  and (min-width : $desktop-min-width-breakpoint) {
}