@import '../../sass-variables';

.container {
  width: auto;
  margin: 0px 10px 10px 10px;
}

ul {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

.modal-open {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

@media only screen and (min-width : $tablet-min-width-breakpoint){
  
}

@media only screen  and (min-width : $desktop-min-width-breakpoint) {
}