
@import '../../sass-variables';

.nav-bar-img-container {
  padding: 5px 0px 0px 0px;
  img {
    height: 30px;
    width: 30px
  }
}

@media only screen and (min-width : $tablet-min-width-breakpoint){
 
}

@media only screen  and (min-width : $desktop-min-width-breakpoint) {

}
