$tablet-min-width-breakpoint: 767px;
$desktop-min-width-breakpoint: 1224px;

$color-white: rgb(255, 255, 255);
$color-lightGray: rgb(250, 250, 250);
$color-lightGray-a: rgba(225, 225, 225, 0.5);

$font-color-orange: rgb(230, 140, 5);
$font-color-orange-trans: rgba(230, 140, 5, 0.5);
$font-color-dark: rgb(59, 59, 59);